@use "colors" as *;

@font-face {
  font-family: "Poppins-Medium";
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
}

body {
  background-color: black;
  color: white;
  font-family: "Poppins-Medium", "Courier New", Courier, monospace;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
