<div class="container">
  <div class="post" *ngIf="post$ | async as post">
    <div class="details">
      <div class="user">
        <img
          [src]="post.user.imagePath"
          default="profile"
          [routerLink]="['/', post.user.username]"
        />
        <a [routerLink]="['/', post.user.username]">{{ post.user.username }}</a>
        <p>• {{ timeAgo(post.createdAt) }}</p>
      </div>
      <ng-container *ngIf="currentUser$ | async as currentUser">
        <span
          *ngIf="currentUser?.id === post.user.id"
          (click)="$event.stopPropagation(); showOptions()"
        ></span>
      </ng-container>
      <div *ngIf="optionsVisible" class="menu" (clickOutside)="closeOptions()">
        <p (click)="showEdit()">Edit Post</p>
        <p (click)="showConfirmation()">Delete Post</p>
      </div>
    </div>
    <div class="content">
      <p class="body">{{ post.body }}</p>
      <p class="edited" *ngIf="post.createdAt !== post.updatedAt">(edited)</p>
      <img *ngIf="post.image" [src]="post.image" default="post" />
    </div>
    <div></div>
    <p class="date">
      {{ formatDate(post.createdAt) }}
    </p>
    <div class="footer" (click)="$event.stopPropagation()">
      <div>
        <comment-icon></comment-icon>
        <p>{{ post.commentsCount }}</p>
      </div>

      <div>
        <like-icon
          [isLiked]="post.likedByMe"
          (click)="toggleLike()"
        ></like-icon>
        <p>{{ post.likesCount }}</p>
      </div>
    </div>
    <create-comment-form [postId]="post.id"></create-comment-form>

    <ng-container *ngIf="post.commentsCount">
      <ng-container *ngIf="loadingComments$ | async">
        <loading></loading>
      </ng-container>

      <ng-container *ngIf="comments$ | async as postComments">
        <div class="comments" *ngFor="let comment of postComments">
          <comment-card [comment]="comment" [postId]="post.id"></comment-card>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="!post.commentsCount">
      <div class="info">Nothing to see here...</div>
    </ng-container>
  </div>
</div>

<modal-wrapper *ngIf="editVisible" (close)="closeEdit()">
  <form [formGroup]="editForm" (ngSubmit)="editPost()">
    <h2>Edit post</h2>
    <div class="field">
      <textarea #textarea formControlName="body"></textarea>
    </div>
    <button type="submit">Edit</button>
  </form>
</modal-wrapper>

<modal-wrapper *ngIf="confirmationVisible" (close)="closeConfirmation()">
  <div class="confirmation">
    <p>Do you really want to delete this post?</p>
    <div>
      <button (click)="closeConfirmation()">Close</button>
      <button (click)="deletePost()">Delete</button>
    </div>
  </div>
</modal-wrapper>
