@use "colors" as *;
@use "breakpoints" as *;
@use "_form-controls.scss";

.container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 4em); // Navbar
}

.post {
  width: 40em;
  min-height: 100%;
  border-left: 0.1em solid $border;
  border-right: 0.1em solid $border;
  padding: 1em;
}

.details {
  display: flex;
  position: relative;

  .user {
    display: flex;
    align-items: center;
    padding-bottom: 1em;

    p {
      font-weight: bold;
      color: grey;
      margin-left: 0.5em;
    }

    a {
      position: relative;
      color: $accent-1;
      font-weight: bold;
      margin-left: 1em;
      text-decoration: none;

      &:focus-visible {
        outline: 0.15em solid white;
        border-radius: 0.2em;
        outline-offset: 0.2em;
      }

      &:hover {
        color: $accent-2;

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          height: 0.1em;
          background-color: $accent-2;
        }
      }
    }

    img {
      height: 2.5em;
      border-radius: 100%;
      outline: 0.15em solid $border;
      cursor: pointer;
    }
  }

  span {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    margin-left: auto;
    border-radius: 100%;
    cursor: pointer;
    padding: 0.5em;

    &:hover {
      background-color: $hover;
    }

    &:focus-visible {
      outline: 0.15em solid white;
    }

    &::after {
      position: absolute;
      left: 50%;
      top: 35%;
      transform: translate(-50%, -50%);
      content: ". . .";
      font-weight: bold;
      font-size: 1.2em;
      white-space: nowrap;
    }
  }
}

.menu {
  position: absolute;
  top: 100%;
  right: -3em;
  background-color: black;
  border: 0.1em solid $border;
  border-radius: 0.5em;
  padding: 0.5em;

  @include md {
    right: 0;
  }

  p {
    border-radius: 0.5em;
    padding: 0.5em;
    cursor: pointer;
    border: 0.15em solid transparent;
    outline: none;

    &:hover,
    &:focus-visible {
      border-color: white;
    }

    &:last-of-type {
      color: $danger;

      &:hover,
      &:focus-visible {
        border-color: $danger;
      }
    }
  }
}

.content {
  .body {
    margin-bottom: 0.5em;
    overflow-wrap: anywhere;
  }

  img {
    max-width: 100%;
    max-height: 45em;
    border-radius: 0.5em;
  }
}

.date {
  font-size: 0.9em;
  color: $accent-1;
}

.edited {
  margin-bottom: 1em;
  font-size: 0.8em;
  color: darkgray;
}

.footer {
  cursor: default;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 1em;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  p {
    margin-left: 0.5em;
  }
}

.confirmation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: black;
  padding: 1em;
  border-radius: 0.5em;
  font-size: 1.5em;
  box-shadow: -0.5em 0.5em 1em -0.2em black;
  width: 80vw;
  max-width: 25em;

  p {
    margin-bottom: 1em;
  }

  div {
    display: flex;
  }

  button {
    cursor: pointer;
    padding: 0.5em 1em;
    border: none;
    margin-inline: 2em;
    border-radius: 0.5em;
    font-size: 0.7em;
    outline: none;
  }

  button:nth-of-type(1) {
    color: white;
    background-color: black;
    border: 0.15em solid white;

    &:hover,
    &:focus-visible {
      background-color: white;
      color: black;
    }
  }

  button:nth-of-type(2) {
    color: $danger;
    border: 0.15em solid $danger;
    background-color: black;

    &:hover,
    &:focus-visible {
      background-color: $danger;
      color: white;
    }
  }
}

textarea {
  min-height: 4.2em;
  resize: none;
  overflow: hidden;
}

form {
  font-size: 1.2em;
  max-width: 30em;
  width: 80vw;
}

.info {
  margin-top: 2em;
  text-align: center;
  font-size: 1.5em;
  color: $accent-1;
}
