@use "form-controls";

.container {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1em;
  cursor: pointer;

  &:focus-visible {
    outline: 0.15em solid white;
    outline-offset: 0.1em;
    border-radius: 0.2em;
  }
}
