@use "colors" as *;

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.loading {
  width: 3em;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 0.5em solid;
  border-color: $accent-1 black;
  animation: anim 1s infinite;
}

@keyframes anim {
  to {
    transform: rotate(0.5turn);
  }
}
