@use "colors" as *;

.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  background-color: rgba($background-2, 0.3);
  z-index: 200;

  &.side {
    align-items: start;
    justify-content: end;
    margin: 3.5em 1em;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}
