<div
  #postCard
  *ngIf="post"
  class="post"
  [routerLink]="
    post.id.startsWith('tmp-') ? null : ['/', post.user.username, post.id]
  "
  (keydown.enter)="postCard.click()"
>
  <div
    class="profile"
    [routerLink]="['/', post.user.username]"
    (click)="$event.stopPropagation()"
    tabindex="-1"
  >
    <img [src]="post.user.imagePath" default="profile" />
  </div>
  <div class="content">
    <div class="top">
      <a
        [routerLink]="['/', post.user.username]"
        (click)="$event.stopPropagation()"
        >{{ post.user.username }}</a
      >
      <p>• {{ timeAgo(post.createdAt) }}</p>
    </div>
    <p>
      {{ isExpanded() ? post.body : (post.body | slice : 0 : 200) }}
      <span
        *ngIf="(post.body ?? '').length > 200"
        (click)="handleExpand(); $event.stopPropagation()"
        (keydown.enter)="handleExpand(); $event.stopPropagation()"
        class="expand-body"
        tabindex="0"
      >
        {{ isExpanded() ? "" : "Read more..." }}
      </span>
    </p>
    <img *ngIf="post.image" [src]="post.image" default="post" />
    <div class="footer" (click)="$event.stopPropagation()">
      <div>
        <comment-icon></comment-icon>
        <p>{{ post.commentsCount }}</p>
      </div>

      <div>
        <like-icon
          [isLiked]="post.likedByMe"
          (click)="toggleLike()"
          (keydown.enter)="toggleLike(); $event.stopPropagation()"
          tabindex="0"
        ></like-icon>
        <p>{{ post.likesCount }}</p>
      </div>
    </div>
  </div>
</div>
