@use "colors" as *;

.content {
  position: fixed;
  top: 3.7em;
  right: 1em;
  background-color: black;
  padding: 0.5em;
  border-radius: 0.5em;
  border: 0.1em solid $border;
  z-index: 500;

  p {
    cursor: pointer;
    padding: 0.5em 1em;
    font-size: 0.9em;

    &:hover {
      background-color: $hover;
      border-radius: 0.5em;
    }
  }
}
