@use "colors" as *;

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 3.7em;
  right: 1em;
  background-color: black;
  padding: 0.5em;
  border-radius: 0.5em;
  border: 0.1em solid $border;
  z-index: 500;

  a {
    text-align: center;
    text-decoration: none;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    color: white;
    width: 100%;
    border: 0.15em solid transparent;
    outline: none;

    &:hover,
    &:focus-visible {
      border-color: white;
    }
  }

  p {
    cursor: pointer;
    padding: 0.5em 1em;
    color: $danger;
    border-radius: 0.5em;
    border: 0.15em solid transparent;
    outline: none;

    &:hover,
    &:focus-visible {
      border-color: $danger;
    }
  }
}
