@use "form-controls";
@use "colors" as *;
@use "breakpoints" as *;

form {
  grid-template-columns: 1fr 1fr;
  width: 80vw;
  max-width: 55em;
  gap: 1em;

  @include md {
    gap: 0.5em;
  }

  .delete {
    margin: 0;
    color: $danger;
    border: 0.15em solid $danger;

    &:hover {
      background-color: $danger;
      color: white;
    }
  }

  textarea {
    resize: none;
    overflow: hidden;
  }
}

h2,
.bio,
.buttons,
.username,
.errors,
h4 {
  grid-column: 1 / -1;
  justify-self: center;
}

.errors {
  p {
    font-size: 0.8em;
    color: $danger;
  }
}

.username {
  width: 50%;

  @include md {
    width: 100%;
  }
}

.bio {
  width: 75%;

  @include md {
    width: 100%;
  }
}

.password,
.email,
.repeat-password,
.repeat-email {
  @include sm {
    grid-column: 1 / -1;
  }
}

h2 {
  @include md {
    font-size: 1em;
  }
}

h4 {
  @include md {
    font-size: 0.7em;
  }
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  button:nth-of-type(1):focus-visible {
    background-color: $danger;
  }

  button {
    margin: 0;
  }
}

.delete-modal {
  background-color: black;
  padding: 1em;
  border-radius: 0.5em;

  p {
    font-size: 1.4em;
  }

  div {
    display: flex;
    justify-content: center;
    gap: 3em;
    margin-top: 1em;

    button {
      outline: none;
      border: none;
      padding: 0.5em 1em;
      border-radius: 0.5em;
      font-weight: bold;
      cursor: pointer;
    }

    .delete {
      background-color: black;
      color: $danger;
      border: 0.15em solid $danger;

      &:hover,
      &:focus-visible {
        background-color: $danger;
        color: white;
      }
    }

    .close {
      border: 0.15em solid white;
      background-color: black;
      color: white;

      &:hover,
      &:focus-visible {
        background-color: white;
        color: black;
      }
    }
  }
}
