<nav>
  <div>
    <a routerLink="/">YSocial</a>
  </div>
  <ng-container *ngIf="authState$ | async as state">
    <ng-container *ngIf="currentUser$ | async as currentUser">
      <div class="profile" (click)="openMenu()" *ngIf="currentUser.imagePath">
        <img [src]="currentUser.imagePath" default="profile" />
      </div>
    </ng-container>
    <div *ngIf="state === AuthState.UNAUTHENTICATED">
      <button (click)="openLoginModal()">Sign In</button>
    </div>
  </ng-container>
</nav>
<div class="margin"></div>

<modal-wrapper *ngIf="showLoginModal" (close)="closeLoginModal()">
  <login-form
    (loginSuccess)="closeLoginModal()"
    (openRegisterModal)="openRegisterModal(); closeLoginModal()"
  ></login-form>
</modal-wrapper>

<modal-wrapper *ngIf="showRegisterModal" (close)="closeRegisterModal()">
  <register-form></register-form>
</modal-wrapper>

<modal-wrapper
  *ngIf="showMenu"
  (close)="closeMenu()"
  [backgroundVisible]="false"
  position="side"
>
  <user-menu (closeMenu)="closeMenu()"></user-menu>
</modal-wrapper>
