<nav>
  <div>
    <a routerLink="/">YSocial</a>
  </div>
  <ng-container *ngIf="authStatus$ | async as status">
    <ng-container *ngIf="currentUser$ | async as currentUser">
      <div class="profile" (click)="openMenu()" *ngIf="currentUser.imagePath">
        <img [src]="currentUser.imagePath" default="profile" />
      </div>
    </ng-container>
    <div *ngIf="status === AuthStatus.UNAUTHENTICATED">
      <button (click)="openLoginModal()">Sign In</button>
    </div>
  </ng-container>
</nav>
<div class="margin"></div>

<modal-wrapper *ngIf="showLoginModal" (close)="closeLoginModal()">
  <login-form
    (loginSuccess)="closeLoginModal()"
    (openRegisterModal)="openRegisterModal(); closeLoginModal()"
  ></login-form>
</modal-wrapper>

<modal-wrapper *ngIf="showRegisterModal" (close)="closeRegisterModal()">
  <register-form (registerSuccess)="closeRegisterModal()"></register-form>
</modal-wrapper>

<user-menu
  *ngIf="showMenu"
  (closeMenu)="closeMenu()"
  (clickOutside)="closeMenu()"
></user-menu>
